* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
}
/* Root Variables for Colors */
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
  --main-font: "Poppins", sans-serif;
  --second-font: "Lato", sans-serif;
}

/* General Reset and Fullscreen Layout */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
}

/* Header Styling */
.header {
  background-color: var(--bg-color); /* Use custom background color */
  width: 100%; /* Full width of the screen */
  position: fixed; /* Fixed at the top of the page */
  top: 0;
  left: 0;
  z-index: 1000; /* Make sure the header stays on top of other content */
  padding: 1rem 2rem;
}

/* Logo Styling */
.navbar-brand img {
  width: 120px; /* Adjust width of the logo */
}

/* Navbar Styling */
.navbar {
  padding: 0; /* Remove extra padding */
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  color: var(--text-color); /* Text color */
  font-size: 16px;
  font-weight: 500;
  padding: 0 1rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--main-color); /* Main color for hover effect */
}

/* For Mobile Screen Adjustments (Navbar Collapse) */
.navbar-toggler {
  border: none;
  outline: none;
}

/* Navbar Collapse for Mobile View */
.navbar-collapse {
  flex-grow: 0;
  justify-content: flex-end;
}

.navbar-nav .nav-item {
  padding: 0.5rem 0;
}

.navbar-nav .nav-item .nav-link {
  font-size: 14px;
}

/* Fullscreen Adjustment */
@media (min-width: 992px) {
  .header {
    position: relative; /* Make the header normal in web version */
    width: 100%;
  }

  .navbar-nav {
    justify-content: flex-end; /* Align navbar items to the right on large screens */
  }

  .navbar-nav .nav-item {
    margin-right: 1rem; /* Add space between items */
  }
}

/* Mobile Responsiveness */
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center; /* Center align the items for mobile view */
  }

  .navbar-nav .nav-item {
    margin-bottom: 1rem; /* Space out the items on mobile */
  }
}

/* Adjust Button (if needed) */
.btn {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--second-bg-color); /* Darker color for hover effect */
}

/* Header Fixed on Top */
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow to the header */
}







/* Home Section Styling */
.home {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 60px 0;
  position: relative;
}

.home .home-content {
  padding: 20px;
}

.home h1 {
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.home h1 span {
  color: var(--main-color);
}

.home h3 {
  font-family: var(--second-font);
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--main-color);
}

.home p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.home .btn-box {
  margin-top: 30px;
}

.home .btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}

.home .btn-primary {
  background-color: var(--main-color);
  border: none;
}

.home .btn-outline-light {
  color: #fff;
  border: 1px solid var(--text-color);
}

.home .btn:hover {
  opacity: 0.8;
}

.social-section a {
  font-size: 2rem;
  margin: 0 15px;
  color: var(--text-color);
  transition: color 0.3s;
}

.social-section a:hover {
  color: var(--main-color);
}

/* Mobile View */
@media (max-width: 768px) {
  .home .home-content {
    padding: 15px;
  }

  .home h1 {
    font-size: 2.5rem;
  }

  .home h3 {
    font-size: 1.8rem;
  }

  .home p {
    font-size: 1rem;
  }

  .social-section {
    text-align: center;
    margin-top: 20px;
  }

  .social-section a {
    font-size: 1.5rem;
    margin: 0 10px;
  }

  .home .btn-box {
    text-align: center;
    margin-top: 20px;
  }
}
/* about section design */

/* About Section Styling */
.about {
  position: relative;
  background-color: var(--second-bg-color);
  color: var(--text-color);
}

/* About Image Styling */
.about-img {
  position: relative;
  display: inline-block;
}

.about-img img {
  border-radius: 50%;
  max-width: 80%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Button Styling */
.btn-info {
  background-color: var(--main-color);
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-info:hover {
  background-color: var(--text-color);
  color: var(--second-bg-color);
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-img img {
    max-width: 100%;
  }


}


/* About my Journey section design */

/* Skills Section */
.skills {
  background-color: var(--bg-color)!important;
  color: var(--text-color);
}

.skills h3.title {
  font-family: var(--main-font);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.progress {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar {
  background-color: var(--main-color);
  height: 24px;
  border-radius: 8px;
  transition: width 0.4s ease;
}

.progress h4 {
  font-size: 1rem;
  font-family: var(--second-font);
  margin-bottom: 8px;
}

.progress h4 span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Responsive */
@media (max-width: 768px) {
  .skills h3.title {
    font-size: 1.5rem;
  }

  .progress-bar {
    height: 20px;
  }
}


/* Skills section design */


.skills {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  padding: 50px 0;
}

.skills h3.title {
  font-family: var(--main-font);
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.progress {
  background-color: rgba(59, 43, 109, 0.1);
  border-radius: 8px;
  height: 2rem!important;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.progress h4 {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  z-index: 2;
  margin: 0;
}

.progress span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: var(--text-color);
  z-index: 2;
  margin: 0;
}

.progress-bar {
  background-color: var(--main-color);
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease;
}

.progress-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--second-bg-color);
  display: inline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills h3.title {
    font-size: 1.5rem;
  }

  .progress {
    height: 28px;
  }

  .progress h4,
  .progress span {
    font-size: 0.8rem;
  }
}




/* Project section design */

/* Projects Section */
.project {
  padding: 60px 0;
  background-color: var(--second-bg-color);
  color: var(--text-color);
}

.project h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.project h2 span {
  color: var(--main-color);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project .img {
  position: relative;
  margin-bottom: 30px;
}

.project .img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project .img:hover img {
  transform: scale(1.05);
}

.project_btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.project .img:hover .project_btn {
  opacity: 1;
  visibility: visible;
}

.project_btn a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.project_btn:hover {
  background-color: #007bb5;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project .img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .project h2 {
    font-size: 2rem;
  }
}

/* Contact section design */

/* Contact Section */
.contact {
  padding: 60px 0;
  background-color: var(--second-bg-color);
  color: var(--text-color);
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact h2 span {
  color: var(--main-color);
}

.contact form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-field {
  position: relative;
  width: 48%;
}

.input-field input,
.textarea-field textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: var(--text-color);
  font-size: 1rem;
}

.input-field input:focus,
.textarea-field textarea:focus {
  outline: none;
  border-color: var(--main-color);
}

.focus {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.input-field input:focus + .focus,
.textarea-field textarea:focus + .focus {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.textarea-field textarea {
  height: 150px;
}

.contact .btn-box {
  text-align: center;
  background-color: #007bb5;
  
}

.btn {
  padding: 12px 30px;
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bb5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .input-box {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .contact h2 {
    font-size: 2rem;
  }

  .btn {
    padding: 12px 25px;
  }
}


/* Footer section Design */

.footer {
  background-color: #101b26; /* Darker background color */
  color: #ffffff;
  padding: 50px 20px;
  position: relative;
  height: 200px; /* Reduced height */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-left h3 {
  font-size: 1.6rem;
  color: var(--main-color);
  margin-bottom: 15px;
  text-align: center;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  font-size: 1.6rem;
  color: #ffffff;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--main-color);
}

.footer-right p {
  font-size: 1rem;
  margin-top: 20px;
}

.footer-iconTop {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer-iconTop a {
  display: inline-block;
  background-color: var(--main-color);
  padding: 6px;
  border-radius: 10%;
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-iconTop a:hover {
  background-color: #007bb5;
  transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-middle, .footer-right {
    margin-bottom: 20px;
  }

  .footer-iconTop a {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .footer-middle, .footer-right {
    margin-bottom: 15px;
  }

  .footer-middle h3, .footer-right p {
    font-size: 1.2rem;
  }

  .footer-iconTop a {
    font-size: 1.6rem;
  }
}



