body,
html {
  height: 100%;
  margin: 0;
  color: cornsilk;
}

.container {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(23, 33, 61);
}
.container h1{
color: cornsilk;
}
.container input{
    width: 60%;
    height: 30%;
    border: .2rem solid rgb(39, 104, 149);
    border-radius: .3rem;
    margin-bottom: 1rem;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    
}

.container input::before{
    content: " ";
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(150, 14, 157);
    z-index: -1;
    
}
.container input:hover::before{
    width: 100%;
}



.container button{
    width: 20%;
    height: 7%;
    font-size: 1rem;
    background:rgb(216, 216, 220);
    border: none;
    border-radius: .5rem;
    
}